

.navList {
  list-style-type: none;
  font-family: 'ZCOOL KuaiLe', cursive;

}

.navList li a {
  color: grey;
  text-decoration: none;
  
}





h1, h2, h3 {
  font-family: 'ZCOOL KuaiLe', cursive;
}

p {
  font-family: 'Roboto Mono', monospace;
}

ul {
  content: '>';
}