body {
  padding: 3% 10% 10% 10%; 
}

.navList {
  list-style-type: none;
  font-family: 'ZCOOL KuaiLe', cursive;

}

.navList li a {
  color: grey;
  text-decoration: none;
  
}

.navList li a:hover {
  color: black;
}





h1, h2, h3 {
  font-family: 'ZCOOL KuaiLe', cursive;
}

p {
  font-family: 'Roboto Mono', monospace;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 5px;
}